
.about{
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
}
.about h3{
  font-size: 40px;
  font-style: oblique;
  color: #20B2AA;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 18px;
  
}
.about-container{
  max-width: 90rem;
  display: flex;
  height: auto;
}
.about-main{
  display: flex;
  height: auto;
  margin: 200px 0px 300px 0px;
}
.about-container p{

  font-size: 1.5rem;
  text-align: left;
  padding: 0px 15px 30px 15px;
  font-style: italic;
  font-weight: 400;
  margin: 10px 50px 50px 50px ;
  box-shadow: 2px 2px 1px 2px #D3D3D3;
  color: #2F4F4F;

}
@media screen and (max-width: 1110px){
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .about-container img{
    width: 250px;
    height: 250px;
  }
  .about-container p{
    font-size: 18px;
    font-style: italic;
    margin: 15px;
    color: #2F4F4F;
  }
  .about h3{
  font-size: 20px;
  color: #20B2AA;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
}

.project{
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  
}
.project-container{
  
  display: flex;
  flex-direction: column;
  align-content: center;
}
.project-file{
  margin: 25px 0px 150px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80rem;
  
}
.project-file img{
  max-width: 650px;
  height: 320px;

  

}
.project-file h1{
  font-size: 30px;
    
    color: #20B2AA;
    font-family: "Galdeano", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.project-file p{
  font-size: 1.1rem;
  margin: 5px 10px 10px 10px;
  ffont-family: "Fenix", serif;
  font-weight: 500;
  font-style: normal;
  color: #2F4F4F;
}
  
.proj-but{
  margin-top: 1rem;
}
.icons{
  
  margin-top: 20px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  font-size: 30px;
  


}
.text-bar{
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2F4F4F;
}
.title-bar{
  font-family: "Encode Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  color: #2F4F4F;
  font-variation-settings:
    "wdth" 100
}
.loading p{
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: indianred;
  margin-top: 20px;
  margin-bottom: -12px;

}


@media screen and (max-width: 1110px){
  .project-file{
    display: flex;
    flex-direction: column;
    width: 820px;
  }
  .project-file img{
    width: 650px;
    height: 320px;
  }
  .project-file h1{
    font-size: 40px;
  }
  .project-file p{
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px;
    color: #2F4F4F;
  }
  .text-bar{
    color: #20B2AA;
    font-size: 33px;
  }

}
@media screen and (max-width: 810px){
  .project-file{
    display: flex;
    flex-direction: column;
    width: 390px;
  }
  .project-file img{
    width: 350px;
    height: 150px;
  }
  .project-file h1{
    font-size: 20px;
  }
  .project-file p{
    font-family: sans-serif;
    font-size: 17px;
    color: #2F4F4F;
  }
  .text-bar{
    color: #20B2AA;
    font-size: 18px;
    color: #2F4F4F;
  }

}
@media screen and (max-width: 810px){
  .about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  img{
    width: 250px;
    height: 250px;
  }
  .about-container p{
    font-size: 18px;
    font-style: italic;
    margin: 15px;
    color: #2F4F4F;
  }
  .about h3{
  font-size: 20px;
  
  color: #20B2AA;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;

  
}
}