

.card-main{
  background-color: #f2f2f2;
  height: 100vh;
  

}
.card-box {
  padding-top: 200px;
  display: flex;
  align-content: center;
  justify-content: center;
  
  
  }
.tech-stack {
    
    display: flex;
    justify-content: center;
    padding: 100px;
    align-items: center;
    font-size: 2.5rem;
    
    
    
/*    margin-left: 20rem;*/
}
.tech-images{
  
  display: flex;
  justify-content: space-between;
  width: 38rem;
  padding: 20px 80px;
}
.tech-stack img{
  width: 60px;
  height: 60px;
  
  
}
.tech-font{
  padding-right: 25px;
  border-right: solid 5px black;
}


.font-text {
  display: flex;
  flex-direction: column;
  margin-right: 20px; 

}

.font-text h3 {
  font-size: 3rem;
  margin-top: 6rem;
  font-weight: 800;
}

.font-text p {
  margin-top: -19px; 
  font-size: 1.5rem;
}



.profile-pic{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
  
}
.profile-pic-background{
  height: 92%;
  width: 92%;
  background-image: url("img.jpg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
} 
.profile-pic-background:hover{
  transform: scale(1.07);
  transition: 1s ease-out;
}
.my-butt{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid white; /* Green border */
  color: white; /* Green text */
  background-color: indianred; /* Transparent background */
  border-radius: 40px; /* Rounded corners */
  cursor: pointer; /* Cursor style on hover */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  height: 60px;
  width: 130px;
}
.my-butt:hover{
  background-color: whitesmoke;
  border-color: white;
  color: black;
  transform: scale(1.1);
  transition: 0.8s ease-out;
}
.olusha{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.olusha button{
  margin-left: 3rem;
}


@media screen and (max-width: 1110px){
  .card-main{
  background-color: #f2f2f2;
  height: auto;
  

  }
  .profile-pic{
    height: 280px;
    width: 280px;
    margin: 0px 0 0 0px;
  }
  .font-text h3{
    margin-top: 25px;
    font-size: 40px;
  } 
  .tech-stack img{
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: 25px;
}
.tech-font{
  padding: 7px;
  color: black;
  font-size: 20px;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  border-right: solid 1px black;
  
}
}
@media screen and (max-width: 810px){
  .card-main{
  background-color: #f2f2f2;
  height: auto;
  

  }
  .profile-pic{
    height: 220px;
    width: 220px;
    margin: -60px 0 0 0px;
  }
  .card-box{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    justify-content: center;
    
  }
  .font-text h3{
    font-size: 40px;
    margin-top: 1rem;
    font-weight: 800;
    padding-left: 6px;
  }
  .font-text p{
    font-size: 16px;
    margin-left: 15px;
  }
  .my-butt{
    height: 40px;
    width: 90px;
    font-size: 9px;
    margin-top: -10px;

  }
  .tech-stack{
    display: flex;
    flex-direction: column;
    margin-top: -20px;
  }
  .tech-font{
  padding: 0px;
  color: black;
  border-bottom: solid 2px black;
  width: 100px;
  border-right: none;
  font-size: 20px;
  text-align: center;
}
.tech-stack img{
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: 25px;
}
.tech-images{
  display: flex;
  justify-content: center;
  width: 5rem;
}

}